body{
    background-color: #ededed;
    padding: 0;
    margin: 0;
}
#header{

}
.row{
    padding: 30px;
    margin-right: 0px;
}
.icon{
    transition: all .2s ease-in-out;
}
.icon:hover{
    transform: scale(1.4);
}
#desig{
    font-family: "Comic Sans MS", cursive, sans-serif;/*ont-family: "Courier New", Courier, monospace;*/
    letter-spacing: -1pt;
    word-spacing: -1pt;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
#nametitle{
    font-family: "Comic Sans MS", cursive, sans-serif;/*ont-family: "Courier New", Courier, monospace;*/
    letter-spacing: : 0vw;
    word-spacing: 0vw;
    font-size: 3vw;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

#aboutme{
    font-family: "Courier New", cursive, sans-serif;/*ont-family: "Courier New", Courier, monospace;*/
    font-size: 7vw;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin-top: 100px;
    padding-left: 15px;
    line-height: 6vw;
    color: #21243d;
    opacity: 0.9;
}

#aboutmedetails{
    font-family: "Comic Sans MS", cursive, sans-serif;/*ont-family: "Courier New", Courier, monospace;*/
    font-size: 20pt;
    letter-spacing: -1.4pt;
    word-spacing: 0px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 40pt;
    width: 80%;
}
