body{
    background-color: #ededed;
    padding: 0;
    margin: 0;
    max-width: 100px;
}
#header{

}
.row{
    padding: 30px;
    margin-right: 0px;
}
#aboutmediv{
    min-height: 100vh;
    background-image: url("../res/bgnd.png");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;/*no-repeat;*/
    background-size: cover;

}

.sec_title{
    max-width: 1000px;
    padding-left: 30px;
    padding-right: 30px;
}

.sec_content{
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
}


#aboutmetitle{
    /*font-family: "Courier New", cursive, sans-serif;/*ont-family: "Courier New", Courier, monospace;*/
    font-size: 40pt;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 6vw;
    color: #21243d;
    opacity: 0.9;
    padding-top: 50px;

}

#aboutmedetails{
    /*font-family: "Comic Sans MS", cursive, sans-serif;/*ont-family: "Courier New", Courier, monospace;*/
    font-size: 20pt;
    letter-spacing: -1.4pt;
    word-spacing: 0px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 50pt;
    text-align: justify;
    text-justify: inter-word;
}



/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {

    #aboutmetitle{
        font-size: 20pt;
        letter-spacing: normal;
        word-spacing: normal;
    }

    #aboutmedetails{
        font-size: 10pt;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: 30pt;
    }

}
