<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Anand Narayanan</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/timeline.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>

    <div id="header">
        <nav class="navbar navbar-expand-md navbar-light" style="background-color: #ededed;" >
            <img src="res/anand_crop_wobg.png" width="90vh" height="90vh" class="d-inline-block align-top" alt="" style="border-radius: 50%">
            <p>
                <div id="nametitle">{{ name }}</div>
            </p>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Timeline</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Publications</a>
                    </li>

                    <!-- <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Dropdown link
                         </a>
                         <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                         <a class="dropdown-item" href="#">Action</a>
                         <a class="dropdown-item" href="#">Another action</a>
                         <a class="dropdown-item" href="#">Something else here</a>
                         </div>
                         </li> -->
                </ul>
            </div>

        </nav>

        <nav class="navbar navbar-expand-md navbar-dark " style='background-color: #21243d;'> 
            <img v-bind:src="logourl" width="40" height="40" class="d-inline-block align-top" alt="" style="border-radius: 50%; margin-right: 30px; margin-left: 30px">
            <div class="navbar-brand" id="desig">{{ desig  }}, {{affiliatedOrg}}</div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" v-if="linkedin">
                    <a v-bind:href="linkedin">
                        <img src="res/icons/linkedin.png" width="40" height="40" class="d-inline-block align-top nav-link icon" alt="" >
                    </a>
                </li>
                <li class="nav-item" v-if="facebook">
                    <a v-bind:href="facebook">
                        <img src="res/icons/fb.png" width="40" height="40" class="d-inline-block align-top nav-link icon" alt="" >
                    </a>
                </li>
                <li class="nav-item" v-if="email">
                    <a v-bind:href="email">
                        <img src="res/icons/gmail.png" width="40" height="40" class="d-inline-block align-top nav-link icon" alt="" >
                    </a>
                </li>
                <li class="nav-item" v-if="github">
                    <a v-bind:href="github">
                        <img src="res/icons/github.png" width="40" height="40" class="d-inline-block align-top nav-link icon" alt="" >
                    </a>
                </li>
                <li class="nav-item" v-if="location">
                    <a href="#">
                        <img src="res/icons/location.png" width="40" height="40" class="d-inline-block align-top nav-link icon" alt="" >
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-3" style="border-right-style: dotted; border-right-width:2px">
            <!-- <img src="res/aboutme.png"  class="d-inline-block align-top" alt="" style="border-radius: 50%; margin-right: 30px; margin-left: 30px; padding-top: 100px"> -->
            <p id="aboutme">
                About Me
            </p>
        </div>
        <div class="col-md-9" >
            <p id="aboutmedetails">
{{ aboutme }}
            </p>
        </div>
    </div>
    <!-- 
         <div class="history-tl-container">
         <ul class="tl">
         <li class="tl-item" ng-repeat="item in retailer_history">
         <div class="timestamp">
         3rd March 2015<br> 7:00 PM
         </div>
         <div class="item-title">Start from Shire</div>
         <div class="item-detail">Don't forget the ring</div>
         </li>
         <li class="tl-item" ng-repeat="item in retailer_history">
         <div class="timestamp">
         19th March 2015<br> 3:00 PM
         </div>
         <div class="item-title">Kill some Orcs</div>
         <div class="item-detail">Don't enter the caves!!</div>
         </li>
         <li class="tl-item" ng-repeat="item in retailer_history">
         <div class="timestamp">
         1st June 2015<br> 7:00 PM
         </div>
         <div class="item-title">Throw that goddamn ring in the lava</div>
         <div class="item-detail">Also, throw that Gollum too</div>
         </li>

         </ul>

         </div> -->

    <script src="js/scripts.js"></script>

</html>
