<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Anand Narayanan</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"  crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/timeline.css" rel="stylesheet">
        <link href="css/sidebar.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
        
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <!-- Font Awesome JS -->
        <script src="https://kit.fontawesome.com/92ab13fe6a.js" crossorigin="anonymous"></script>
    </head>

    <div class="wrapper" id="wrapperid">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div style="text-align:center;width:100%;">
                <div class="fullsidebar">
                    <h3>{{name}}</h3>
                </div>

                    <img src="res/anand.jpeg" width="50%"  class="d-inline-block align-top" alt="" id="photo">

                    <div class="fullsidebar">
                        {{desig}}, <br>
                        {{affiliatedOrg}}

                    </div>
                    <strong>AN</strong>
                </div>
                

            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-briefcase"></i>
                        Timeline
                    </a>
                    <a href="#">
                        <i class="fas fa-copy"></i>
                        Publications
                    </a>
                </li>
            </ul>

            <div class="row">
                <div class="col-sm" v-if="facebook">
                    <center><a v-bind:href="facebook">
                        <i class="fab fa-facebook-f icon"></i>
                    </a></center>
                </div>
                <div class="col-sm" v-if="linkedin">
                    <center><a v-bind:href="linkedin">
                        <i class="fab fa-linkedin icon"></i>
                    </a></center>
                </div>
                <div class="col-sm" v-if="github">
                    <center><a v-bind:href="github">
                        <i class="fab fa-github icon"></i>
                    </a></center>
                </div>
                <div class="col-sm" v-if="email">
                    <center><a v-bind:href="email">
                        <i class="fas fa-envelope-open icon"></i>
                    </a></center>
                </div>
            </div>

        </nav>


        <div id="content">
            <div id="aboutmediv">
            <p id="aboutmetitle">
                About Me
            </p>
            <p id="aboutmedetails" >
                {{ aboutme }}
            </p>
            </div>

            <!-- 
                 <div class="history-tl-container">
                 <ul class="tl">
                 <li class="tl-item" ng-repeat="item in retailer_history">
                 <div class="timestamp">
                 3rd March 2015<br> 7:00 PM
                 </div>
                 <div class="item-title">Start from Shire</div>
                 <div class="item-detail">Don't forget the ring</div>
                 </li>
                 <li class="tl-item" ng-repeat="item in retailer_history">
                 <div class="timestamp">
                 19th March 2015<br> 3:00 PM
                 </div>
                 <div class="item-title">Kill some Orcs</div>
                 <div class="item-detail">Don't enter the caves!!</div>
                 </li>
                 <li class="tl-item" ng-repeat="item in retailer_history">
                 <div class="timestamp">
                 1st June 2015<br> 7:00 PM
                 </div>
                 <div class="item-title">Throw that goddamn ring in the lava</div>
                 <div class="item-detail">Also, throw that Gollum too</div>
                 </li>

                 </ul>

                 </div> -->

        </div>
        <script src="js/scripts.js"></script>
        <script type="text/javascript">
         $(document).ready(function () {
             $('#aboutme').on('click', function () {
                 $('#sidebar').toggleClass('active');
             });
         });
        </script>

</html>
