<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Anand Narayanan</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"  crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/timeline.css" rel="stylesheet">
        <link href="css/sidebar.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
        <script src="js/jquery.scrollTo.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <!-- Font Awesome JS -->
        <script src="https://kit.fontawesome.com/92ab13fe6a.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="scrollcontainer">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
            <span class="text">Scroll down</span>
        </div>
        <div class="wrapper" id="wrapperid">


        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div style="text-align:center;width:100%;">
                <div class="fullsidebar">
                    <h3>{{name}}</h3>
                </div>

                    <img src="res/anand.jpeg" width="50%"  class="d-inline-block align-top" alt="" id="photo">

                    <div class="fullsidebar">
                        {{desig}}, <br>
                        {{affiliatedOrg}}

                    </div>
                    <strong>AN</strong>
                </div>


            </div>

            <ul class="list-unstyled components">
                <li class="active">

                    <a href="#" id="sb_home">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a href="#" id="sb_experience">
                        <i class="fas fa-briefcase"></i>
                        Experience
                    </a>
                </li>

            </ul>

            <div class="row">
                <div class="col-sm" v-if="facebook">
                    <center><a v-bind:href="facebook">
                        <i class="fab fa-facebook-f icon"></i>
                    </a></center>
                </div>
                <div class="col-sm" v-if="linkedin">
                    <center><a v-bind:href="linkedin">
                        <i class="fab fa-linkedin icon"></i>
                    </a></center>
                </div>
                <div class="col-sm" v-if="github">
                    <center><a v-bind:href="github">
                        <i class="fab fa-github icon"></i>
                    </a></center>
                </div>
                <div class="col-sm" v-if="email">
                    <center><a v-bind:href="email">
                        <i class="fas fa-envelope-open icon"></i>
                    </a></center>
                </div>
            </div>

        </nav>


        <div id="content">

            <div class="maindiv" id ="home_div">
                <center>
            <p id="aboutmetitle" class="sec_title">
                About Me
            </p>
            <p id="aboutmedetails" class="sec_content">
                {{ aboutme }}
            </p>
                </center>
            </div>

            <div class="container maindiv" id ="experience_div">
	              <div class="row">
		                <div class="col-md-10 offset-md-1">
                        <p id="wexp_title" class="sec_title">
			                  Experience
                        </p>
			                  <ul class="timeline">
				                    <li v-for="(item, index) in experience">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <img v-bind:src="item.logo" class="d-inline-block align-top explogo" alt="" id="photo">
                                    </div>
                                    <div class="col-lg-6">
                                        <a target="_blank" v-bind:href="item.url" class="exporgname">{{item.Org}}</a>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="exporgperiod">
                                            {{item.period}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="exporgdesc">
{{item.desc}}
                                    </p>
                                </div>
                            </li>
			                  </ul>
		                </div>
	              </div>
            </div>

            <!-- 
                 <div class="history-tl-container">
                 <ul class="tl">
                 <li class="tl-item" ng-repeat="item in retailer_history">
                 <div class="timestamp">
                 3rd March 2015<br> 7:00 PM
                 </div>
                 <div class="item-title">Start from Shire</div>
                 <div class="item-detail">Don't forget the ring</div>
                 </li>
                 <li class="tl-item" ng-repeat="item in retailer_history">
                 <div class="timestamp">
                 19th March 2015<br> 3:00 PM
                 </div>
                 <div class="item-title">Kill some Orcs</div>
                 <div class="item-detail">Don't enter the caves!!</div>
                 </li>
                 <li class="tl-item" ng-repeat="item in retailer_history">
                 <div class="timestamp">
                 1st June 2015<br> 7:00 PM
                 </div>
                 <div class="item-title">Throw that goddamn ring in the lava</div>
                 <div class="item-detail">Also, throw that Gollum too</div>
                 </li>

                 </ul>

                 </div> -->

        </div>
        <script src="js/scripts.js"></script>
        <script type="text/javascript">

        </script>
    </body>
</html>
